.container {
  @apply pt-64 pb-32;
  background-color: rgba(0, 0, 0, 0.01);
  background-image: url("/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.content {
  @apply mx-auto px-4 flex flex-col items-center gap-2;
  @apply text-center font-montserrat font-bold;
}

.content h1 {
  @apply text-[51px];
}

.content p {
  @apply text-[#5A5A5A] text-[25px] mb-4;
}

.content a {
  @apply bg-[#FF2879] px-4 py-1 uppercase;
}
